<% layout('layouts/base') %>



<form action="<%= rotas.FINANCEIROS_CADASTRAR %>" method="POST" id="form-cadastro" style="display: none;">
  <div>
    <label for="usuario_id">ID do Usuário</label>
    <input type="number" id="usuario_id" name="financeiro_usuario_id" required />
  </div>
  <div>
    <label for="cargo_id">ID do Cargo</label>
    <input type="number" id="cargo_id" name="financeiro_cargo_id" required />
  </div>
  <button type="submit">Cadastrar Financeiro</button>
</form>

<table>
  <thead>
    <tr>
      <th>ID Usuário</th>
      <th>ID Cargo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% dados.forEach((item) => { %>
      <tr>
        <td><%= item.financeiro_usuario_id %></td>
        <td><%= item.financeiro_cargo_id %></td>
        <td>
          <form method="POST"
                action="<%= rotas.EXCLUIR
                  .replace(':tabela', 'financeiros')
                  .replace(':pk', 'financeiro_usuario_id')
                  .replace(':id', item.financeiro_usuario_id) %>"
                style="display: inline;">
            <button type="submit" class="button-excluir-sm">
              Excluir
            </button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
