<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista de Dados</title>
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<h1>Lista de Dados</h1>
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <% dados.forEach((item) => { %>
      <tr>
        <td><%= item.usuario_nome %></td>
        <td><%= item.usuario_cpf %></td>
        <td><%= item.usuario_email %></td>
      </tr>
    <% }) %>


  </tbody>
</table>
  <form action="/cadastrar/usuario" method="POST">
    <div>
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" required />
    </div>
    <div>
      <label for="cpf">CPF</label>
      <input type="text" id="cpf" name="cpf" required />
    </div>
    <div>
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone" name="telefone" required />
    </div>
    <div>
      <label for="email">email</label>
      <input type="text" id="email" name="email" required />
    </div>
    <div>
      <label for="senha">Senha</label>
      <input type="text" id="senha" name="senha" required />
    </div>
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>
