<!DOCTYPE html>
<html>
<head>
  <title>Página inicial</title>
</head>
<body>

  <h1>Lista de dados</h1>


  <table style="border: 1px;">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>CPF</th>
    </tr>
    <tr>
      <% dados.forEach((item) => { %>
        <tr>
        <td><%= item.usuario_nome %></td>
        <td><%= item.usuario_cpf %></td>
        <td><%= item.usuario_telefone %></td>
        <td><%= item.usuario_nome %></td>
        </tr>
      <% }) %>
    </tr>

  </table>



</body>
</html>
